<div class="card"  style="max-width: 80%; margin: 10%;">
    <div class="card-header">Who I Am?</div>

    <div class="card-body">
        <h5 class="card-title text-primary">Me llamo Achraf y os voy a hablar de esto</h5>
        <p class="card-text">Esta es mi primera aplicación con Angular y Spring que trata sobre un listado de clientes y que por ahora tiene muy pocas funcionalidades pero poco a poco se irá mejorando y quedará una aplicación mucho mas completa y mejor. </p>
        <div class="gif">
            <img src="assets/img/snorlax.gif">
        </div>
        
            
    </div>
</div>